<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @dojo.branch %>'s Information'</title>
  </head>
  <body>
    <h2><%= @dojo.branch %></h2>

    <p>Address: <%= @dojo.street %></p>
    <p>City: <%= @dojo.city %> State: <%= @dojo.state %></p>

    <a href="<%= edit_dojo_path @dojo.id %>">Edit</a>
    <a href="<%= root_path %>">Home</a>
    <a href="<%= new_dojo_student_path @dojo %>">Add Student</a>

    <h3>Student Roster</h3>
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      <% @students.each do |student|%>
        <tr>
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
          <td><%= student.email %></td>
          <td><a href="<%= dojo_student_path(@dojo, student) %>">Show</a> <a href="<%= edit_dojo_student_path @dojo, student %>">Edit</a> <a href="<%= dojo_student_path @dojo, student %>" data-method='delete'>Destroy</a></td>
        </tr>
      <% end %>
    </table>

    <% if flash[:success] %>
      <p><%= flash[:success] %></p>
    <% end %>
  </body>
</html>
