<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey Results</title>
  </head>
  <body>
    <% if flash[:count] %>
    <p><%= flash[:count] %></p>
    <% end %>

    <h2>Submitted Information</h2>
    <p>Name: <%= @question.name %></p>
    <p>Dojo Location: <%= @question.dojo_location %></p>
    <p>Favorite Language: <%= @question.favorite_language %></p>
    <p>Comment: <%= @question.comment %></p>

    <a href="<%= root_path %>"><button>Go Back</button></a>
  </body>
</html>
